.sidebar {
	position: fixed;
	top: 0px;
	bottom: 0;
	left: 0;
	z-index: 1;
	padding: 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
	background-color: #242423;
}

.sidebar-sticky {
	z-index: 1;
	/* position: -webkit-sticky; */
	/* position: sticky; */
	position: fixed;
	top: 56px;
	height: calc(100vh - 56px);
	padding-top: 1rem;
	overflow-x: auto;
	overflow-y: auto;
}
